# Python
__pycache__

# ROS2
depends
build
install
log

# pixi environments
.pixi/*
!.pixi/config.toml

# OSX
.DS_Store

# vscode
.vscode

# ignore calibration files
nakalab_so101_description/calibration/**
!nakalab_so101_description/calibration/.gitkeep